body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
   
      
}
.container {
    width: 940px;
    margin: 0 auto;

      
    position: relative;
}

$color_1:#FFF;
$color_2:#000;
$color_3:#283645;
$color_4:#D22856;
$color_5:#F2F2F2;

.logo {
    margin-bottom: 19px;
}
.logo-tab{
display: none;
}
.main {
    background-image: url(/img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
   
    &__inner {
        background-image: url(/img/hand.png);
        background-repeat: no-repeat;
        background-size: 1050px 645px;
        background-position: bottom;
    }
    &__info {
        color: $color_1;
        text-align: center;
        width: 300px;
        padding: 117px 0 100px 0;
    }
    &__title {
        font-size: 50px;
        font-weight: 300;
        padding-bottom: 51px;
    }
    &__btn {
        font-size: 21px;
        font-weight: 700;
        line-height: 18px;
        padding: 20px 32px 20px 31px;
        border: 3px solid $color_1;
        border-radius: 30px;
        margin-bottom: 67px;
        white-space: nowrap;
    }
    .header{
       display: flex;
       align-items: center;
       height: 110px;
       justify-content: center;

        &__nav {
            display: flex;
            background-color: rgb(0, 0, 0, 30%);
        }
        &__item {
            font-size: 18px;
            line-height: 18px;
            color: $color_1;
        }
        &__item {
            a{
                font-size: 18px;
                line-height: 18px;
                color: $color_1;
            }
            
        }
        &__list {
            display: flex;
            column-gap: 79px;
            padding-left: 173px;
        }
       
    }
    &__app {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 58px;
        &-app {
            padding-right: 34px;
        }
        &-and {
            padding-right: 37px;
        }
    }
    &__description {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
    }
  
}

.details {
    color: $color_3;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(
        to bottom,
        $color_1 0%,
        $color_1 50%,
        $color_5 50%,
        $color_5 100%);
    &__trapezoid {
        position: absolute;
        top: 240px;
        left: 0;
        width: 100%;
        height: 450px;
        background-image: url(/img/grey-back-tab.png);
       background-repeat: no-repeat;
       background-size: cover;
       z-index: -1;
    }
    &__inner {
        padding: 77px 0 90px 0;
    }
    &__title {
        max-width: 780px;
        text-align: center;
        font-size: 50px;
        font-weight: 300;
        padding-bottom: 72px;
        margin: 0 auto;
    }
    &__columns {
        display: flex;
        column-gap: 68px;
        position: relative;
    }
    &__block {
        width: 252px;
        text-align: center;
        &-title {
            font-size: 30px;
            line-height: 30px;
            font-weight: 700;
            padding: 59px 0 35px 0;
            margin-top: -155px;
        }
        &-description {
            font-size: 18px;
            line-height: 30px;
        }
    }
    &__timer {
        display: flex;
        justify-content: space-between;
        padding-top: 146px;
        &-number {
            color: $color_4;
            font-size: 120px;
            line-height: 163px;
            font-weight: 700;
            border: 18px solid $color_4;
            border-radius: 50%;
            text-align: center;
            padding: 23px 0 30px 0;
            width: 252px;
            position: relative;
            z-index: 1;
        }
        &-img {
            position: relative;
        }
        &-icon {
            min-width: 298px;
            position: absolute;
            top: -70px;
            left: -23px;
        }
        &-info {
            line-height: 30px;
            width: 534px;
        }
        &-title {
            font-size: 30px;
            font-weight: 700;
            color: $color_2;
            padding-bottom: 37px;
        }
        &-description {
            font-size: 18px;
            padding-bottom: 47px;
        }
        &-more {
            font-size: 18px;
            color: $color_4;
            text-decoration: underline;
        }
    }
}

.cost {
    font-size: 18px;
    color: $color_3;
    padding: 72px 0 98px 0;
    position: relative;
    &__trapezoid {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      
       background-repeat: no-repeat;
       
    }
    &__response {
        display: flex;
        justify-content: space-between;
        padding-bottom: 200px;
        &-info {
            text-align: center;
            width: 688px;
            line-height: 30px;
        }
        &-quotes {
            padding-bottom: 58px;
        }
        &-text {
            padding-bottom: 50px;
        }
        &-autor {
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 17px;
        }
    }
}

.connect {
    color: $color_3;
    &__triangle {
        position: absolute;
        bottom: 399px;
        left: 0;
        z-index: 1;
    }
    &__inner {
        position: relative;
        padding-top: 74px;
    }
    
    &__title {
        font-size: 50px;
        font-weight: 300;
        padding-bottom: 61px;
        width: 462px;
        margin: 0 auto;
    }
    &__columns {
        display: flex;
        column-gap: 111px;
        row-gap: 50px ;
        justify-content: center;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }
    &__block {
        text-align: center;
        &-title {
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 34px;
        }
        &-call {
       
        }
        &-address {
            padding-right: 94px;
        }
    }
    &__description {
        font-size: 24px;
        font-weight: 300;
        color: $color_4;
        max-width: 241px;
    }
}

.footer {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 70px 0 78px 0;
    }
    &__social {
        display: flex;
        column-gap: 17px;
    }
    &__develop {
        display: flex;
        column-gap: 13px;
        align-items: center;
        &-text {
            font-size: 18px;
            line-height: 18px;
            color: $color_3;
        }
    }
    &__btn-img {
        border: 3px solid $color_5;
        border-radius: 50%;
        &-twit {
            padding: 17px 15px;
        }
        &-face {
            padding: 15px 19px 15px 20px;
        }
        &-yout {
            padding: 18px 14px 17px 19px;
        }
    }
}



.price{
    line-height: 30px;
}

.table-price{
    min-width: 940px;
    border-color: $color_5;
    border-spacing: 0;
    margin: 0 auto;
    
    &__header{
        position: relative;
        padding-top: 16px;
        padding-bottom: 22px;
        text-transform: uppercase;
        border-right: 2px solid $color_5;
        font-size: 18px;
        color: #fff;
        background-color: $color_3;
       

    }
    &__header:nth-child(3)::after{
        display: block;
        content: "";
        background: url(img/hit.svg) no-repeat;
        width: 100%;
        position: absolute;
        height: 74px;
        top: 0;
        
    }
   
    &__header:first-child{

        background-color: $color_5;
        border-bottom: 2px solid $color_5;
        
    }
    &__type{
        display: block;
        font-size: 18px;
    }
    &__cost{
        font-size: 24px;
        font-weight: 300;
    }
    &__select{
        padding: 14px 20px 15px;
        font-size: 18px;
        border-right: 2px solid $color_5;
        border-bottom: 2px solid $color_5;
        background-color: #fff;
        

    }
  
    &__select:first-child{
        border-left: 2px solid $color_5;
        width: 234px;
        
    }
    &__yes{
        content: "";
        background:url(img/yes.svg) ;
        width: 31px;
        height: 21px;
        margin: 0 auto;
    }
    &__no{
        content: "";
        background:url(img/no.svg);
        width: 27px;
        height: 27px;
        margin: 0 auto;
    }
}
.nav-toggle{
    display: none;
    
    span{
        display: block;
        position: relative;
        width: 50px;
        height: 4px;
        background: #fff;
        }
        span:after,span:before{
            content: "";
        position: absolute;
        margin: auto;
        top: 10px;
        bottom: auto;
        left: auto;
        right: 0;
        width: 100%;
        height: 4px;
        background: #fff;
        }
        span:before {
            top: -10px;
        }
  }
  .close{
    display: none;
  }















  @media (min-width: 660px) and (max-width: 1199px) {
    .close{
        display: block;
    }
    .container{
        width: 660px;
        padding: 0 20px;
    }
    .logo{
        display: none;
    }
    .link-logo{
        display: block;
    }
    .logo-tab{
        display: block;
        
    }
    .main {
        &__title {
            font-size: 40px;
            padding-bottom: 39px;
        }
        &__inner {
            background-image: url(/img/hand-tablet.png);
            background-size: 660px 545px;
            padding: 30px 0px 0px ;
        }
        &__app {
            padding-bottom: 35px;
        }
        .header{

            display: block;
            background-color:$color_3;
            height: 365px;
            &__inner{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                background-color:$color_3;
                padding: 27px 20px 42px 20px;
                position: relative;
                &::after{
                    content: '';
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    box-shadow: 0px 1px 0px 0px #000000, 0px 1px 0px 0px #FFFFFF26 inset;
                }
                border-bottom: solid 1px;

            }
          
            &__nav {
                display: flex;
                background-color: rgb(0, 0, 0, 30%);
            }
            &__item {
                font-size: 18px;
                line-height: 18px;
                color: $color_1;
            }
            &__item {
                position: relative;
                &::after{
                    content: '';
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    box-shadow: 0px 1px 0px 0px #000000, 0px 1px 0px 0px #FFFFFF26 inset;
                }
                border-bottom: solid 1px;
                

                padding: 25px 0;
                a{
                    line-height: 32px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
            &__list {
                background-color:$color_3;
                text-align: center;
                display: block;
                padding-left: 0;
            }
           
        }
    }
    .details {
    background-image: none;
    &__trapezoid {
        content: "";
        width: 100%;
        height: 471px;
        background-image: url(/img/grey-back-tab.png);
        background-repeat: no-repeat;
        top: 233px;
      
    }
    &__inner {
        padding: 58px 0 90px 0;
    }
    &__title {
        font-size: 40px;
        padding-bottom: 47px;
        margin: 0 auto;
    }
    &__columns {
        background-image: url(img/phone-tab.png);
        background-repeat: no-repeat;
        background-size: 268px 527px;
        
        padding: 0px 0px;
        align-items: end;
        display: flex;
        flex-direction: column;
        column-gap: 0px;
        position: relative;
    }
    &__block {
        width: 252px;
        text-align: left;
        img{
            display: none;
        }
        &-title {
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            padding: 30px 0 10px 0;
            margin-top: 0px;
        }
        &-description {
            font-size: 14px;
            line-height: 24px;
        }
    }
    &__timer {
        display: flex;
        justify-content: space-between;
        padding-top: 54px;
        
        &-number {
            color: $color_4;
            font-size: 120px;
            line-height: 163px;
            font-weight: 700;
            border: 18px solid $color_4;
            border-radius: 50%;
            text-align: center;
            padding: 23px 0 30px 0;
            width: 252px;
            position: relative;
            z-index: 1;
        }
        &-img {
            position: relative;
            width: 238px;
            height: 276px;
            
        }
        &-icon {
            min-width: 238px;
            position: absolute;
            top:  0px;
            left: 0px;
        }
        &-info {
            line-height: 24px;
            width: 310px;
        }
        &-title {
            padding-bottom: 24px;
            max-width: 168px;
            line-height: 36px;
        }
        &-description {
            font-size: 14px;
            padding-bottom: 24px;
        }
        &-more {
            font-size: 14x;

        }
    }
    }
    .footer {
        &__inner {
            padding: 36px 20px 40px 20px;
        }
        &__develop {
            &-text {
                font-size: 14px;
            }
        }
    }

    .cost {
        font-size: 18px;
        color: $color_3;
        padding: 0px 0 98px 0;
        position: relative;
        &__trapezoid {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 527px;
            
           background-repeat: no-repeat;
           
        }
        &__response {
            img{
                display: none;
            }
            display: flex;
            justify-content: space-between;
            padding-bottom: 200px;
            &-info {
                text-align: center;
                width: 688px;
                line-height: 30px;
            }
            &-quotes {
                padding-bottom: 58px;
            }
            &-text {
                padding-bottom: 50px;

            }
            &-autor {
                font-size: 20px;
                line-height: 30px;
                padding-bottom: 5px;
            }
            &-position{
                &::after{
                    line-height: 30px;
                    content: "";
                    display: block;
                    background-image: url(img/slider.png) ;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 13px;
                    margin-top: 49px;
                    text-align: center;

                }
            }
        }
    }
    .price{
        line-height: 30px;
    }
    
    .table-price{
        min-width: 616px;
        border-color: $color_5;
        border-spacing: 0;
        margin: 0 auto;
        
        &__header{
            position: relative;
            padding-top: 16px;
            padding-bottom: 22px;
            text-transform: uppercase;
            border-right: 2px solid $color_5;
            font-size: 18px;
            color: #fff;
            background-color: $color_3;
           
    
        }
        &__header:nth-child(3)::after{
            display: block;
            content: "";
            background: url(img/hit.svg) no-repeat;
            background-size: 61px;
            width: 100%;
            position: absolute;
            height: 61px;
            top: 0;
            
        }
       
        &__type{
            display: block;
            font-size: 16px;
        }
        &__cost{
            font-size: 18px;
            font-weight: 300;
        }
        &__select{
            padding: 14px 15px 15px;
            font-size: 14px;
            border-right: 2px solid $color_5;
            border-bottom: 2px solid $color_5;
            background-color: #fff;
            
    
        }
      
        &__select:first-child{
            width: 153px;
            height: 45px;
            
        }

    }
    .connect {
        color: $color_3;
        &__triangle {
            position: absolute;
            bottom: 436px;
            left: 0;
            z-index: 1;
        }
        &__inner {
            position: relative;
            padding-top: 74px;
        }
        
        &__title {
            font-size: 40px;
            font-weight: 300;
            padding-bottom: 51px;
            width: 370px;
            margin: 0 auto;
            text-align: center;
        }
        &__columns {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 19px;
        }
        &__block {
            
            text-align: center;
            &-title {
                
                font-size: 18px;
                font-weight: 700;
                padding-bottom: 7px;
            }
            
            &-address {
                
                padding-right: 0px;
                order: 3;
            }
        }
        &__description {
            font-size: 24px;
            font-weight: 300;
            color: $color_4;
            max-width: 241px;
        }
    }
}

.logo-mob{display: none;}

@media (min-width: 320px) and (max-width: 659px) {
    .logo-mob{
        display: block;
    }
    .cont-mob{
        margin-top: 260px;
        width: 320px;
        background-color: #1D2631;
        padding: 20px 0 70px;
    }
    .close{
        display: block;
    }
    .container{
        width: 320px;
        padding: 0px 0px;
        margin: 0 auto;
    }
    .logo{
        display: none;
    }
    .link-logo{
        display: block;
    }
    .logo-tab{
        display: none;
        
    }
    .main {
        &__title {
            font-size: 24px;
            padding-bottom: 39px;
        }
        &__info{
            padding: 50px 0 0px 0;
        }
        &__inner {
            background-image: url(/img/hand-mob.png);
            background-position: 0px 160px ;
            background-size: 320px 286px;
            padding: 30px 0px 0px ;
            background-position-x: center;
        }
        &__app {
            padding-bottom: 35px;
        }
        .header{

            display: block;
            background-color:$color_3;
            height: 365px;
            &__inner{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                background-color:$color_3;
                padding: 32px 20px 32px 20px;
                position: relative;
                &::after{
                    content: '';
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    box-shadow: 0px 1px 0px 0px #000000, 0px 1px 0px 0px #FFFFFF26 inset;
                }
                border-bottom: solid 1px;

            }
          
            &__nav {
                display: flex;
                background-color: rgb(0, 0, 0, 30%);
            }
            &__item {
                font-size: 18px;
                line-height: 18px;
                color: $color_1;
            }
            &__item {
                position: relative;
                &::after{
                    content: '';
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    box-shadow: 0px 1px 0px 0px #000000, 0px 1px 0px 0px #FFFFFF26 inset;
                }
                border-bottom: solid 1px;
                

                padding: 25px 0;
                a{
                    line-height: 32px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
            &__list {
                background-color:$color_3;
                text-align: center;
                display: block;
                padding-left: 0;
            }
           
        }
    }
    .details {
    background-image: none;
    &__trapezoid {
        content: "";
        width: 100%;
        height: 471px;
        background-image: url(/img/grey-back-tab.png);
        background-repeat: no-repeat;
        top: 233px;
      
    }
    &__inner {
        padding: 58px 0 90px 0;
    }
    &__title {
        font-size: 24px;
        padding-bottom: 47px;
        margin: 0 auto;
        line-height: 120%;
        span{
            margin-top: 25px;
            display: block;
        }
    }
    &__columns {
        height: 828px;
        background-image: url(img/phone-tab.png);
        background-repeat: no-repeat;
        background-size: 176px 320px;
        background-position-y: bottom;
        background-position-x: center;
        padding: 0px 0px;
        align-items: center;
        display: flex;
        flex-direction: column;
        column-gap: 0px;
        position: relative;
    }
    &__block {
        width: 252px;
        text-align: center;
        img{
            display: none;
        }
        &-title {
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            padding: 30px 0 10px 0;
            margin-top: 0px;
        }
        &-description {
            font-size: 14px;
            line-height: 24px;
           
        }
    }
    &__timer {
        display: none;
     
        justify-content: space-between;
        padding-top: 54px;
        
        &-number {
            color: $color_4;
            font-size: 120px;
            line-height: 163px;
            font-weight: 700;
            border: 18px solid $color_4;
            border-radius: 50%;
            text-align: center;
            padding: 23px 0 30px 0;
            width: 252px;
            position: relative;
            z-index: 1;
        }
        &-img {
            
            position: relative;
            width: 238px;
            height: 276px;
            
        }
        &-icon {
            min-width: 238px;
            position: absolute;
            top:  0px;
            left: 0px;
        }
        &-info {
            line-height: 24px;
            width: 310px;
        }
        &-title {
            padding-bottom: 24px;
            max-width: 168px;
            line-height: 36px;
        }
        &-description {
            font-size: 14px;
            padding-bottom: 24px;
        }
        &-more {
            font-size: 14x;

        }
    }
    }
    .footer {
        &__inner {
            flex-direction: column;
            padding: 36px 20px 40px 20px;
            align-items: center;
            row-gap: 41px;
        }
        &__develop {
            &-text {
                font-size: 14px;
            }
        }
    }

    .cost {
        font-size: 18px;
        color: $color_3;
        padding: 0px 0 98px 0;
        position: relative;
        &__trapezoid {
            position: absolute;
            bottom: -85px;
            left: 0;
            width: 100%;
            height: 527px;
            background-image: url(/img/grey-back-tab.png);
           background-repeat: no-repeat;
           
        }
        &__response {
            position: relative;
            img{
                display: none;
            }
            display: flex;
            justify-content: space-between;
            padding-bottom: 200px;
            &-info {
                text-align: center;
                width: 688px;
                line-height: 30px;
            }
            &-quotes {
                padding-bottom: 58px;
            }
            &-text {
                
                padding: 45px 20px 190px 20px ;
                &::after{
                    line-height: 30px;
                    content: "";
                    display: block;
                    background-image: url(img/slider.png) ;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 13px;
                    margin-top: 40px;
                    text-align: center;
                    

                }

            }
            &-autor {
                position: absolute;
                font-size: 18px;
                line-height: 30px;
                padding-bottom: 5px;
                top: 0;
                left: 78px;
            }
            &-position{
                display: none;
               
            }
        }
    }
    .price{
        position: relative;
        line-height: 30px;
       
    }
    
    .table-price{
        padding-bottom: 60px;
        top: -206px;
        left: -390px;
       position: absolute;
       overflow: hidden;
        width: 616px;
        border-color: $color_5;
        border-spacing: 0;
        margin: 0 auto;
        &::after{
            position: absolute;
            bottom: 0;
            left: 8%;
            line-height: 30px;
            content: "";
            display: block;
            background-image: url(img/slider.png) ;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 13px;
            margin-top: 40px;
            text-align: center;
            

        }
        
        
        &__header{
            position: relative;
            padding-top: 16px;
            padding-bottom: 22px;
            text-transform: uppercase;
            border-right: 2px solid $color_5;
            font-size: 18px;
            color: #fff;
            background-color: $color_3;
           
    
        }
        &__header:nth-child(3)::after{
            display: block;
            content: "";
            background: url(img/hit.svg) no-repeat;
            background-size: 61px;
            width: 100%;
            position: absolute;
            height: 61px;
            top: 0;
            
        }
       
        &__type{
            display: block;
            font-size: 16px;
        }
        &__cost{
            font-size: 18px;
            font-weight: 300;
        }
        &__select{
            padding: 14px 15px 15px;
            font-size: 14px;
            border-right: 2px solid $color_5;
            border-bottom: 2px solid $color_5;
            background-color: #fff;
            
    
        }
      
        &__select:first-child{
            width: 153px;
            height: 45px;
            
        }

    }
    .connect {
        color: $color_3;
        &__triangle {
            position: absolute;
            bottom: 470px;
            z-index: 1;
            left: -2%;
        }
        &__inner {
            position: relative;
            padding-top: 120px;
        }
        
        &__title {
            font-size: 24px;
            font-weight: 300;
            padding-bottom: 35px;
            line-height: 120%;
            width: 222px;
            margin: 0 auto;
            text-align: center;
        }
        &__columns {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 19px;
        }
        &__block {
            
            text-align: center;
            &-title {
                
                font-size: 18px;
                font-weight: 700;
                padding-bottom: 7px;
            }
            
            &-address {
                
                padding-right: 0px;
                order: 3;
            }
        }
        &__description {
            font-size: 24px;
            font-weight: 300;
            color: $color_4;
            max-width: 241px;
        }
    }
}
  

 
